.search-history {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid lightgrey;
    box-shadow: 0 0 3px 0 lightgrey;
    border-radius: 20px;
    overflow: hidden;

    &__heading {
        margin: 0;
        padding: 6px 0;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: darkgray;
    }
}

.search-history-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &__item {
        padding: 8px 16px;
    }
}